<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=640, initial-scale=1">

  <title>Preview</title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'entity' %>
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag "jquery-1.3.2.min.js" %>

  <script>
    jQuery.noConflict();
    j$ = jQuery;

    function add_video_tag(id, path) {
      var video = j$("<video>").attr("id", "video-" + id).attr("width", 480).attr("height", 320).attr("controls", "controls").attr("src", path);
      j$("#video").append(video);
    }

    function check_m3u8(id, path, count) {
      count = count + 1;
      if (count > 10) {
        alert("Video Loading Failed");
        return false;
      }
      j$.ajax({
        type: "HEAD",
        url: path,
        success: function(){
          add_video_tag(id, path);
        },
        error: function(){
          setTimeout(function(){check_m3u8(id, path, count)}, 3000);
        }
      })
    }

    j$(document).ready(function() {
      check_m3u8(<%= @pasokara.id %>, "<%= @movie_path %>", 0);
    });
  </script>
  
</head>
<body>
  <div id="main" style="width: 540px; padding: 30px 30px 30px 30px;">
    <h1><%= h @pasokara.name %></h1>
    <div id="video">
    </div>
    <!-- END OF THE PLAYER EMBEDDING -->
  </div>
</body>
</html>
