<div data-role="page" data-theme="a" id="pasokara-show-<%= @pasokara.id.to_s %>">
  <script>
    $(".add-favorite").click(function() {
      $.ajax({
        url: $(this).attr("access-url"),
        dataType: "json",
        success: function(data) {
          alert(data.message);
          $("#add-favorite-<%= @pasokara.id %>").hide();
          $("#remove-favorite-<%= @pasokara.id %>").show();
        }
      })
    });

    $(".remove-favorite").click(function() {
      $.ajax({
        url: $(this).attr("access-url"),
        dataType: "json",
        success: function(data) {
          alert(data.message);
          $("#remove-favorite-<%= @pasokara.id %>").hide();
          $("#add-favorite-<%= @pasokara.id %>").show();
        }
      })
    });
  </script>
  <div data-role="header">
    <a href="#" data-rel="back" data-icon="back">Back</a>
    <h1>Pasokara Player</h1>
    <a href="#search" data-icon="search" data-transition="slidedown" class="ui-btn-right">Search</a>
  </div>

  <div class="jqm-thumb">
    <h2><%= image_tag(url_for(:controller => "pasokara", :action => "thumb", :id => @pasokara.id), :size =>"240x180", :class => "thumb") %></h2>
  </div>
  <div data-role="content">
    <h3><%= h @pasokara.name %></h3>
    <a href="<%= url_for(:action => "queue", :id => @pasokara.id) %>" data-role="button" data-theme="c">予約する</a>
    <% if current_user %>
      <div id="remove-favorite-<%= @pasokara.id %>" style="<%= @pasokara.is_favored_by(current_user) ? "" : "display: none;" %>">
        <button data-role="button" data-theme="a" data-icon="delete" class="remove-favorite" access-url="<%= url_for(:controller => "favorite", :action => "remove", :id => @pasokara.id, :format => "json") %>">お気に入りから削除する</button>
      </div>
      <div id="add-favorite-<%= @pasokara.id %>" style="<%= @pasokara.is_favored_by(current_user) ? "display: none;" : "" %>">
        <button data-role="button" data-theme="e" data-icon="star" class="add-favorite" access-url="<%= url_for(:controller => "favorite", :action => "add", :id => @pasokara.id, :format => "json") %>">お気に入りに追加する</button>
      </div>
    <% end %>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
      <li data-role="list-divider">動画情報</li>
      <%= jqm_info_list(@pasokara) %>
      <li data-role="list-divider">タグ</li>
      <% @pasokara.tag_list.each do |t| %>
        <li><a href="/tag_search/<%= u t %>"><%= h t %></a>
      <% end %>
    </ul>
  </div>
</div>

<%= jqm_search_page %>
