<%# encoding: utf-8 %>
<%= image_tag("icon/arrow_up_48.png", :size => "24x24") %><%= link_to("上のディレクトリへ", :action => 'show', :id => @dir.directory) %><br />
<h1><%= image_tag("icon/elastic_movie.png", :class => "parent_dir", :size => "32x32") %><%= h @dir.name %></h1>
<%= render 'layouts/search_header' %>
<% cache(:action => "show", :page => params[:page]) do -%>
  <ul id="entity_list" class="autopagerize_page_element">
    <% @entities.each do |entity| %>
      <% cache("pasokara_li_#{entity.id}") do %>
        <div id="entity_box_<%= "#{entity.id}" %>" class="entity_box">
        <%= entity_li(entity) %>
        <%= tag_box(entity) if entity.class == PasokaraFile %>
        </div>
      <% end %>
    <% end %>
  </ul>
  <%= will_paginate(@entities) %>
<% end -%>
<br />
<%= image_tag("icon/arrow_up_48.png", :size => "24x24") %><%= link_to("Go Up Directory", :action => 'show', :id => @dir.directory) %>
<br />
<br />
<%= image_tag("icon/home.png", :size => "24x24") %><%= link_to("Go Top Directory", :action => 'index') %>
