<%= image_tag("icon/arrow_up_48.png", :size => "12x12") %><%= link_to("Go Up Directory", :action => 'show', :id => @dir.directory) %><br />
<h1><%= image_tag("icon/elastic_movie.png", :class => "parent_dir", :size => "12x12") %><%= h @dir.name %></h1>
<%= render 'layouts/search_header' %>
<ul>
  <%= entity_li(@entities) %>
</ul>
<%= will_paginate(@entities) %>
<br />
<%= image_tag("icon/arrow_up_48.png", :size => "12x12") %><%= link_to("Go Up Directory", :action => 'show', :id => @dir.directory) %>
<br />
<br />
<%= image_tag("icon/home.png", :size => "12x12") %><%= link_to("Go Top Directory", :action => 'index') %>
