
<div class="user_form_box">
  <h2 style="margin-bottom: 40px;"><%= h @user.name %>の設定</h2>
  <% form_for @user, :url => {:action => "update"} do |f| %>
    <p>
    <span style="font-weight: bold;">Tweeting:</span> <%= f.select :tweeting, options_for_select([["True", true], ["False", false]], :selected => @user.tweeting) %>
    <%= submit_tag("Setting") %><br />
    </p>
  <% end %>

  <%= form_tag twitter_auth_path, :style => "display: inline;" %>
    <p><span style="font-weight: bold;">Twitter認証:</span> <%= submit_tag("Go Twitter") %></p>
  </form>

  <p><span style="font-weight: bold;">Twitter Access Token:</span> <%= h @user.twitter_access_token %></p>
  <p><span style="font-weight: bold;">Twitter Access Secret:</span> <%= h @user.twitter_access_secret %></p>

</div>
