<div data-role="page" data-theme="d" id="queue-list">
  <div data-role="header" data-position="fixed">
    <a href="#" data-rel="back" data-icon="back">Back</a>
    <h1>予約一覧</h1>
    <a href="#search" data-icon="search" data-transition="slidedown" class="ui-btn-right">Search</a>
    <%= jqm_nav_bar %>
  </div>

  <% if WillPaginate::ViewHelpers.total_pages_for_collection(@queue_list) > 1 %>
  <div data-role="content">
    <%= will_paginate(@queue_list, :container => false) %>
  </div>
  <% end %>

  <div data-role="content">
    <ol data-role="listview" data-theme="c" data-dividertheme="e" data-split-icon="delete" data-split-theme="a">
      <li data-role="list-divider"><%= page_entries_info @queue_list, :entry_name => 'Queue' %></li>
      <% @queue_list.each do |queue| %>
        <%= jqm_entity_li(queue) %>
      <% end %>
    </ol>
  </div>

  <% if WillPaginate::ViewHelpers.total_pages_for_collection(@queue_list) > 1 %>
  <div data-role="content">
    <%= will_paginate(@queue_list, :container => false) %>
  </div>
  <% end %>
</div>

<%= jqm_search_page %>
