<%# encoding: utf-8 %>
<div data-role="page" data-theme="a" id="favorite">
  <div data-role="header" data-position="fixed">
    <a href="#" data-rel="back" data-icon="back">Back</a>
    <h1>お気に入り</h1>
    <a href="#search" data-icon="search" data-transition="slidedown" class="ui-btn-right">Search</a>
    <%= jqm_nav_bar %>
  </div>

  <% if WillPaginate::ViewHelpers.total_pages_for_collection(@pasokaras) > 1 %>
  <div data-role="content">
    <%= will_paginate(@pasokaras, :params => {:query => params[:query], :sort => params[:sort], :filter => params[:filter], :field => params[:field]}, :container => false) %>
  </div>
  <% end %>

  <div data-role="content">
    <ul data-role="listview" data-theme="c" data-dividertheme="b">
      <li data-role="list-divider"><%= page_entries_info @pasokaras, :entry_name => 'Pasokara' %></li>
      <% @pasokaras.each do |pasokara| %>
        <% cache("jqm_pasokara_li_#{pasokara.id}") do %>
          <%= jqm_entity_li(pasokara) %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if WillPaginate::ViewHelpers.total_pages_for_collection(@pasokaras) > 1 %>
  <div data-role="content">
    <%= will_paginate(@pasokaras, :params => {:query => params[:query], :sort => params[:sort], :filter => params[:filter], :field => params[:field]}, :container => false) %>
  </div>
  <% end %>
</div>
<%= jqm_search_page %>
