<%# encoding: utf-8 %>
<!DOCTYPE HTML>

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="noindex,nofollow">
  <% if request.mobile %>
    <% if request.mobile.iphone? %>
      <meta name="viewport" content="width=640, initial-scale=0.5">
    <% elsif request.mobile.ipad? %>
      <meta name="viewport" content="width=640, initial-scale=1.0">
    <% end %>
  <% end %>

  <title>Pasokara Player</title>
  <%= header_loading %>
  <script type="text/javascript">
    jQuery.noConflict();
    j$ = jQuery;

    j$(document).ready(function() {
      j$('div.title a.queue_link').linkwrapper();
      j$('li.queue a').linkwrapper();

      j$('#site_title').FontEffect({
         mirror: true,
         mirrorColor: "#FFFFFF",
         mirrorOffset: -15,
         mirrorHeight: 70,
         gradient: true,
         gradientFromTop: true,
         gradientColor: "#AAA",
         gradientPosition: 20,
         gradientLength: 50,
         gradientSteps: 20 
      });
    })

    j$("img").lazyload();
  </script>
</head>
<body>
  <header>
  <h1 id="site_title"><span>P</span>asokara Player</h1>
  <div id="user_info"><%= content_tag(:span, "現在のログインユーザー: " + current_user.name, :class => "login_user") if current_user %><a class="user_link" href="<%= login_path %>">ユーザー切り替え</a> : <a class="user_link" href="/users/new">ユーザー作成</a><div class="clearfix"></div></div>

  <% if flash[:notice] -%>
    <div class="notification"><%= flash[:notice] %></div>
  <% end -%>
  <% if flash[:error] -%>
    <div class="error_notification"><%= flash[:error] %></div>
  <% end -%>
  </header>
  <div id="main">
    <%= render 'layouts/search_header' %>

    <article>
      <%= yield %>
    </article>

  </div>
</body>
</html>
